* {
	text-shadow: 2px 1px 0px #000; }

body {
	font-family:'Anaheim', sans-serif;
	font-weight: normal 400;
	font-size: 100%;
	color: #fff;
	line-height: 1.4;
	background-color: black; }

a {
	text-decoration: none;
	color: #fff; }

span {
	color: #00e4ff; }

.clear {
	clear:both; }

div#logo {
	float: left; }

#header {
	margin: 10px 35px 0;
	width: 500px;
	z-index: 3;
	position: relative; }

nav#info ul a {
	margin-left: 35px;
	padding-left: 4px;
	line-height: 1.4;
	width: 120px;
	float: left;
	text-align: left;
	font-size: 1.05em }

nav#info a:hover {

	color: #00e4ff;
	background-color: #000; }

#banner-leftside {
	float: left;
	margin: 25px; }

#latest-playlist {
	width: 600px;
	margin-left: 20px;
	padding-top: 25px;
	float: left; }

#gallery-spotlight {
	margin: 20px;
	width: 600px;
	height: 305px;
	background-color: rgba(0, 0, 0, .3);
	position: relative;
	overflow: hidden;
	float: left; }

#gallery-spotlight ul {
	width: 1250px; }

.featured-pic {
	float: left;
	padding: 20px; }

.featured-pic img {
	margin-bottom: 10px; }

.featured-pic:first-child, .featured-pic:nth-child(4){
	padding-right: 0; }

.featured-pic:nth-child(3n+3){
	padding-left: 0;
	padding-right: 105px; }

ul li a {
	text-align: center; }

/*--Beginning Sprites--*/
.latest {
 	background: url(../images/buttons.png);
 	background-position: 0 0;
 	width: 140px;
 	height: 35px;
 	text-indent: 100%;
	overflow: hidden; }

 .spotlight {
 	background: url(../images/buttons.png);
 	background-position: 0 -38px;
 	width: 180px;
 	height: 35px;
 	text-indent: 100%;
	overflow: hidden; }

 .arrow {
 	background: url(../images/buttons.png);
 	background-position: 0 -76px;
 	width: 43px;
 	height: 70px;
 	position: absolute;
 	margin-left: 557px;
 	margin-top: 80px;
 	text-indent: 100%;
	overflow: hidden; }

 .arrow:hover {
 	background: url(../images/buttons.png);
 	background-position: 0 -149px;
 	width: 43px;
 	height: 70px;
 	position: absolute;
 	margin-left: 557px;
 	margin-top: 80px; }

 #social ul li {
 	float: right; }

#social ul li a {
	display: block;
	width: 30px;
	height: 30px;
	text-indent: 100%;
	overflow: hidden;
	margin: 2px; }

#social .twitter {
	background: url(../images/buttons.png) no-repeat;
	background-position: -45px -110px;
	opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out; }

#social .twitter:hover {
	opacity: 0.5; }


#social .tumblr {
	background: url(../images/buttons.png) no-repeat;
	background-position: -45px -144px;
	opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out; }

#social .tumblr:hover {
	opacity: 0.5; }

#social .rss {
	background: url(../images/buttons.png) no-repeat;
	background-position: -45px -76px;
	opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out; }

#social .rss:hover {
	opacity: 0.5; }
/*--End of Sprites--*/
#feedback {
 	text-align: center;
 	padding: 14px;
 	font-size: 22px;
 	width: 108px;
 	background: #ff4040;
 	position: fixed;
 	right: 0;
 	bottom: 0;
 	z-index: 3; }

.wrapper {
	width: 960px;
	margin: 0 auto;
	position: relative;
	z-index: 3; }

.container {
	width: 960px;
	padding-bottom: 100px;
	margin: 0 auto;
	background: rgba(0, 0, 0, .4); }

.container h2 {
	font-size: 160%;
	padding: 20px 55px;
}

#about-container {
	padding: 15px 55px 115px;
	line-height: 1.2; }

#about-container h3 {
	margin: 50px 0 15px; }

/*--Beginning of All Playlists Page Boxes--*/
.profile-box {
	float: left;
	position: relative; }

.profile-box img {
	opacity:1;
	-webkit-transition: opacity;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 500ms;
	vertical-align: bottom; }

.details {
	width: 285px;
	height: 285px;
	background: #000;
	padding: 18px; }

.details p {
	line-height: 1.3; }

.profile-box .details {
	position:absolute;
	top:0;
	left:0;
	opacity: 0;
	-webkit-transition: opacity;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 500ms; }

.profile-box .details:hover {
	opacity: .9;
	-webkit-transition: opacity;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 500ms; }

.profile-box h3 {
	font-size: 21px;
	padding-bottom: 8px; }

.profile-box p {
	font-size: 13px; }

#gallery-spotlight a:hover{
	color: #00e4ff; }

/*--End of All Playlists Page Boxes--*/
.wallpaper {
	float: left;
	padding: 30px 50px 40px 55px; }

.wallpaper li a {
	float:left;
	margin: 8px; }

.wallpaper li a:hover {
	color: #00e4ff; }

/*--Beginning of Contact Page--*/
#contact-container {
	margin: 20px 55px 30px; }

#contact-container h3 {
	margin-bottom: 20px;
}

/*--Beginning of Individual Playlist Page--*/
#playlistinfo-container {
	padding: 30px 55px;
	border-bottom: solid #fff 1px;
}

#profile-pic {
	float: left;
	margin-right: 40px;
}

#profile-description {
	float: none;
	width: 100%; }

#profile-description h1 {
	font-family: 'Francois One', sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-transform: uppercase;
	padding-bottom: 8px; }

#profile-description h3 {
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: 6px;
	padding-bottom: 20px; }

#profile-description p {
	font-size: 155%; }

#music-container {
	padding: 50px 100px;
	background-color: #000; }

.mix-boxes {
	padding: 35px 0;
	border-bottom: solid 1px #e0e0e0; }

/*background images*/

#contact-bg {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: url('https://dl.dropboxusercontent.com/u/43607039/wradio/slideshow/bg-contact.jpg');
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; }

#shop-bg {
	width: 100%;
	height: 100%;
	position: absolute;
	background: url('https://dl.dropboxusercontent.com/u/43607039/wradio/slideshow/bg-shop.jpg');
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; }

#playlist-bg {
	width: 100%;
	height: 100%;
	position: absolute;
	background: url('https://dl.dropboxusercontent.com/u/43607039/wradio/slideshow/bg-all-playlists.jpg');
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; }

#freebies-bg {
	width: 100%;
	position: absolute;
	background: url('https://dl.dropboxusercontent.com/u/43607039/wradio/slideshow/bg-freebies.jpg');
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; }
